<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.flightSchMapper">
	<resultMap type="com.csstest.teamb.VO.flightSchVO" id="flightMap">
		<id column="flight_sch_no" property="flightSchNo" />
		<result column="airline_eng" property="airlineEng" />
		<result column="airline_kor" property="airlineKor" />
		<result column="arrival_city" property="arrivalCity" />
		<result column="arrival_city_code" property="arrivalCityCode" />
		<result column="arrival_time" property="arrivalTime" />
		<result column="flight_num" property="flightNum" />
		<result column="start_city" property="startCity" />
		<result column="start_city_code" property="startCityCode" />
		<result column="start_time" property="startTime" />
		<result column="flight_purpose" property="flightPurpose" />
		<result column="airport" property="airport" />
		<result column="airport_code" property="airportCode" />
		<result column="city" property="city" />
		<result column="city_code" property="cityCode" />
		<result column="sch_time" property="schTime" />
		<result column="io_type" property="ioType" />
		<result column="sun" property="sun" />
		<result column="mon" property="mon" />
		<result column="tue" property="tue" />
		<result column="wed" property="wed" />
		<result column="thu" property="thu" />
		<result column="fri" property="fri" />
		<result column="sat" property="sat" />
		<result column="is_domestic" property="domestic" />
	</resultMap>
	
	<insert id="insertDomestic" parameterType="com.csstest.teamb.VO.flightSchVO" useGeneratedKeys="true" keyProperty="int" keyColumn="flightSchNo"> 
		insert into flight_schedule(
			airline_eng, airline_kor, arrival_city, arrival_city_code, arrival_time, flight_num,
			start_city, start_city_code, start_time, flight_purpose, sun, mon, tue, wed, thu, fri, sat, is_domestic
		) values(
			#{airlineEng}, #{airlineKor}, #{arrivalCity}, #{arrivalCityCode}, #{arrivalTime}, #{flightNum},
			#{startCity}, #{startCityCode}, #{startTime}, #{flightPurpose}, #{sun}, #{mon}, #{tue}, #{wed}, #{thu}, #{fri}, #{sat}, #{domestic}
		);
	</insert>
	
	<insert id="insertInternational" parameterType="com.csstest.teamb.VO.flightSchVO" useGeneratedKeys="true" keyProperty="int" keyColumn="flightSchNo"> 
		insert into flight_schedule(
			airline_eng, airline_kor, city, city_code, flight_num, airport, airport_code,
			flight_purpose,	sch_time, io_type, sun, mon, tue, wed, thu, fri, sat, is_domestic
		) values(
			#{airlineEng}, #{airlineKor}, #{city}, #{cityCode}, #{flightNum}, #{airport}, #{airportCode},
			#{flightPurpose}, #{schTime}, #{ioType}, #{sun}, #{tue}, #{tue}, #{wed}, #{thu}, #{fri}, #{sat}, #{domestic}
		);
	</insert>
	
	<delete id="deleteFlightSch">
		truncate table flight_schedule;
	</delete>
	
	<select id="getDomestic" resultMap="flightMap">
		<![CDATA[
			select * from flight_schedule 
			where arrival_city_code = #{arrivalCityCode} 
			and start_city_code = #{startCityCode} 
			and (start_time >= #{startTime} 
				and arrival_time <= #{arrivalTime})
			and is_domestic = #{domestic}
			and flight_purpose = "여객기"
		]]>
		<if test="sun != null">
			and sun = #{sun}
		</if>
		<if test="mon != null">
			and mon = #{mon}
		</if>
		<if test="tue != null">
			and tue = #{tue}
		</if>
		<if test="wed != null">
			and wed = #{wed}
		</if>
		<if test="thu != null">
			and thu = #{thu}
		</if>
		<if test="fri != null">
			and fri = #{fri}
		</if>
		<if test="sat != null">
			and sat = #{sat}
		</if>
	</select>
	
	<select id="getInternationalOut" resultMap="flightMap">
		<![CDATA[
			select * from flight_schedule 
			where airport_code = #{airportCode} 
			and city_code = #{cityCode} 
			and sch_time >= #{schTime}
			and is_domestic = #{domestic}
			and io_type = #{ioType}
			and flight_purpose = "여객기"
		]]>
		<if test="sun != null">
			and sun = #{sun}
		</if>
		<if test="mon != null">
			and mon = #{mon}
		</if>
		<if test="tue != null">
			and tue = #{tue}
		</if>
		<if test="wed != null">
			and wed = #{wed}
		</if>
		<if test="thu != null">
			and thu = #{thu}
		</if>
		<if test="fri != null">
			and fri = #{fri}
		</if>
		<if test="sat != null">
			and sat = #{sat}
		</if>
	</select>
	
	<select id="getInternationalIn" resultMap="flightMap">
		<![CDATA[
			select * from flight_schedule 
			where airport_code = #{airportCode} 
			and city_code = #{cityCode} 
			and sch_time <= #{schTime}
			and is_domestic = #{domestic}
			and io_type = #{ioType}
			and flight_purpose = "여객기"
		]]>
		<if test="sun != null">
			and sun = #{sun}
		</if>
		<if test="mon != null">
			and mon = #{mon}
		</if>
		<if test="tue != null">
			and tue = #{tue}
		</if>
		<if test="wed != null">
			and wed = #{wed}
		</if>
		<if test="thu != null">
			and thu = #{thu}
		</if>
		<if test="fri != null">
			and fri = #{fri}
		</if>
		<if test="sat != null">
			and sat = #{sat}
		</if>
	</select>
		
</mapper>