@charset "UTF-8";

									/* ---------------------  애니메이션 효과  --------------------- */

@keyframes shadow-drop-2-center {
  0% {
            transform: translateZ(0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
            transform: translateZ(50px);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0);
  }
}


@keyframes jello-horizontal {
  0% {
            transform: scale3d(1, 1, 1);
  }
  30% {
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
            transform: scale3d(1, 1, 1);
  }
}


								/* ---------------------  타이틀 이미지 애니메이션 효과  --------------------- */

/* 버스 */
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  1% {
    transform: scale(1);
    opacity: 1;
  }
  33% {
    transform: scale(1);
    opacity: 1;
  }
  34% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}


/* 열차 */
@keyframes scale-in-center2 {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  34% {
    transform: scale(0);
    opacity: 1;
  }
  35% {
    transform: scale(1);
    opacity: 1;
  }
  63% {
    transform: scale(1);
    opacity: 1;
  }
  64% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}


/* 비행기 */
@keyframes scale-in-center3 {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  64% {
    transform: scale(0);
    opacity: 1;
  }
  65% {
    transform: scale(1);
    opacity: 1;
  }
  99% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}

/* 1번 북 */
@keyframes slide-in-blurred-left {
  0% {
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform-origin: 100% 50%;
            filter: blur(40px);
    opacity: 0;
  }
  100% {
            transform: translateX(0) scaleY(1) scaleX(1);
            transform-origin: 50% 50%;
            filter: blur(0);
    opacity: 1;
  }
}

/* 2번 북 */
@keyframes slide-in-blurred-tl {
  0% {
            transform: translate(-1000px, -1000px) skew(80deg, 10deg);
            transform-origin: 100% 0%;
            filter: blur(40px);
   			opacity: 0;
  }
  100% {
            transform: translate(0, 0) skew(0deg, 0deg);
            transform-origin: 50% 50%;
            filter: blur(0);
    		opacity: 1;
  }
}

/* 3번 북 */
@keyframes slide-in-blurred-top {
  0% {
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform-origin: 50% 0%;
            filter: blur(40px);
    		opacity: 0;
  }
  100% {
            transform: translateY(0) scaleY(1) scaleX(1);
            transform-origin: 50% 50%;
            filter: blur(0);
    		opacity: 1;
  }
}

/* 4번 북 */
@keyframes slide-in-blurred-tr {
  0% {
            transform: translate(1000px, -1000px) skew(-80deg, -10deg);
            transform-origin: 0% 0%;
            filter: blur(40px);
    opacity: 0;
  }
  100% {
            transform: translate(0, 0) skew(0deg, 0deg);
            transform-origin: 50% 50%;
            filter: blur(0);
    		opacity: 1;
  }
}

/* 5번 북 */
@keyframes slide-in-blurred-right {
  0% {
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform-origin: 0% 50%;
            filter: blur(40px);
    opacity: 0;
  }
  100% {
		transform: translateX(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
    opacity: 1;
  }
}


									/* ---------------------  폰트  --------------------- */

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF_IceLemon';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_IceLemon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




									/* ---------------------  전체 div  --------------------- */
.Main_div{
	width : 1500px;
	margin : 0px auto;
	text-align: center;
	padding-top : 30px;
	position: relative;
}



									/* ---------------------  사이트 이름  --------------------- */

/* 에어두드림 */
.Main_title{
	padding-bottom : 20px;	
	font-family: 'RixInooAriDuriR';
	font-size: 30px;
	margin-top: 70px;
	color : #66d6f4;
	
}
.Main_title span{
	color : #00256c;
	font-family: 'SF_IceLemon';
	display: inline-block;
	transition-duration: 0.2s; 
}


/* 타이틀 이미지 div */
.title_img_div{
	display: inline-block;
	position: absolute;
    top: 96px;
    padding-left: 30px;
    z-index: -1;
}

.title_img_div2_1{
	position: absolute;
	display: inline-block;
	top: 45px;
    left: 638px;
}
.title_img_div2_2{
	position: absolute;
	display: inline-block;
	top: 30px;
	padding-left: 3px;
}
.title_img_div2_3{
	position: absolute;
	display: inline-block;
	top: 45px;
}
.title_img_div2_4{
	position: absolute;
	display: inline-block;
	top: 30px;
	padding-left: 21px;
}
.title_img_div2_5{
	position: absolute;
	display: inline-block;
	top: 45px;
	padding-left: 65px;
	z-index: -1;
}


/* 타이틀 이미지 */

/* 버스 */
.title_img{
	transition-duration: 0.2s;
	width : 50px;
	display : none;
	animation: scale-in-center 12s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	position: relative;
    right: 70px;
}

/* 열차 */
.title_img2{
	transition-duration: 0.2s;
	width : 50px;
	display : none;
	animation: scale-in-center2 12s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	position: relative;
    right: 70px;
}

/* 비행기 */
.title_img3{
	transition-duration: 0.2s;
	width : 50px;
	display : none;
	animation: scale-in-center3 12s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	position: relative;
    right: 70px;
}

/* 드럼 */
.title_img4_1{
	transition-duration: 0.2s;
	width : 50px;
    animation: slide-in-blurred-left 1.2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    display: none;
}
.title_img4_2{
	transition-duration: 0.2s;
	width : 50px;
	animation: slide-in-blurred-tl 1.2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	display: none;
}
.title_img4_3{
	transition-duration: 0.2s;
	width : 50px;
	animation: slide-in-blurred-top 1.2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	display: none;
}
.title_img4_4{
	transition-duration: 0.2s;
	width : 50px;
	animation: slide-in-blurred-tr 1.2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	display: none;
}
.title_img4_5{
	transition-duration: 0.2s;
	width : 50px;
	animation: slide-in-blurred-right 1.2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	display: none;
}


							/* -------------------------------- 로그인 회원가입 --------------------------------  */
.modal-body{
	box-sizing: border-box !important;
}
							
.header_login{
	color:black;
	text-decoration: none;
}
.header_login:hover{
	color: #00d1e5;
}


										/* ---------------------  태그  --------------------- */

				
/* 태그 */
.transportation_tag{
	display : inline-block;
	margin: 30px 20px 0px;
	
}
.transportation_tag:hover {
	  animation: jello-horizontal 0.9s both;
	  cursor: pointer;	
}

/* 운항스케줄 태그 */
.Flight_schedule_Tag{
	font-family: 'TheJamsil5Bold';
    position: relative;
    bottom: 20px;
    filter: opacity(0);
    transition-duration: 0.5s;
    background: black;
    width: 175px;
    height: 45px;
    border-radius: 30px;
    left: 57px;
    overflow: hidden;
}
.Flight_schedule_Tag:hover{
	cursor: pointer;
    box-shadow: 0px 0px 5px 0px #ffc120;
}
.Flight_schedule_Tag:hover .Flight_schedule_Tag_border{
	right : 0px;
}
.Flight_schedule_Tag_border{
	background: #ffc120;
    width: 180px;
    height: 50px;
    position: relative;
    z-index: -2;
    right: 180px;
    transition-duration: 0.5s;
}
.Flight_schedule_Tag_background{
	background: #ffffff;
    width: 171px;
    height: 41px;
    position: relative;
    top: -48px;
    margin: 0px auto;
    line-height: 30px;
    border-radius: 30px;
    overflow: hidden;
}
.Flight_schedule_img{
	width : 50px;
	display : inline-block;
	position: relative;
    bottom: 4px;
    right: 11px;
}
.Flight_schedule_video{
	width : 50px;
	display : none;
	position: relative;
    bottom: 4px;
    right: 11px;
}
.Flight_schedule_Text{
	display: inline-block;
    position: relative;
    bottom: 24px;	
}


/* 실시간 운항스케줄 태그 */
.RealTime_Flight_schedule_Tag{
	font-family: 'TheJamsil5Bold';
    position: relative;
    bottom: 20px;
    filter: opacity(0);
    transition-duration: 0.5s;
    background: black;
    width: 230px;
    height: 45px;
    border-radius: 30px;
    right: 100px;
    overflow: hidden;
}
.RealTime_Flight_schedule_Tag:hover{
	cursor: pointer;
    box-shadow: 0px 0px 5px 0px #17d700;
}
.RealTime_Flight_schedule_Tag:hover .RealTime_Flight_schedule_Tag_border{
	right : 0px;
}
.RealTime_Flight_schedule_Tag_border{
	background: #17d700;
    width: 235px;
    height: 50px;
    z-index: -1;
    position: relative;
    right: 235px;
    transition-duration: 0.5s;
}
.RealTime_Flight_schedule_Tag_background{
	background: #ffffff;
    width: 226px;
    height: 41px;
    position: relative;
    top: -48px;
    margin: 0px auto;
    line-height: 30px;
    border-radius: 30px;
    overflow: hidden;
}
.RealTime_Flight_schedule_img{
	width: 50px;
    display: inline-block;
    position: relative;
    bottom: 10px;
    right: 11px;
}
.RealTime_Flight_schedule_video{
	width : 50px;
	display : none;
	position: relative;
    bottom: 10px;
    right: 11px;
}
.RealTime_Flight_schedule_Text{
	display: inline-block;
    position: relative;
    bottom: 24px;
}



.transportation_tag2{
	display : inline-block;
	margin: 30px 20px 0px;
	
}
.transportation_tag2:hover {
	  animation: jello-horizontal 0.9s both;
}


.transportation_tag3{
	display : inline-block;
	margin: 30px 20px 0px;
	z-index: 2;
    position: relative;
}
.transportation_tag3:hover {
	  animation: jello-horizontal 0.9s both;
	  cursor: pointer;
	  
}


/* 공항버스 */
.AirportBus{
	width: 130px;
    display: block;
    margin: 0px auto;
	position: relative;
	bottom: 53px;
    left: 75px;
    z-index: 1;
	transition-duration: 0.5s;
	filter: opacity(0);
	border-radius: 31px;
    height: 45px;
    overflow: hidden;
    background: black;
    color: black;
}
.AirportBus:hover{
	cursor: pointer;
    box-shadow: 0px 0px 5px 0px #ff5cb9;
}
.AirportBus:hover .AirportBus_border{
	right : 0px;
}
.AirportBus_img{
	width : 50px;
	display : inline-block;
	position: relative;
    bottom: 5px;
}
.AirportBus_video{
	width : 50px;
	display : none;
	position: relative;
    bottom: 5px;
}
.AirportBus_tag{
	display : inline-block;
	position: relative;
    bottom: 25px;
    font-family: 'TheJamsil5Bold';
}
.AirportBus_background{
	background: #ffffff;
    height: 41px;
    width: 126px;
    position: relative;
    top: 2px;
    border-radius: 20px;
    left: 2px;
    overflow: hidden;
}


/* 시외버스 */
.IntercityBus{
	width: 195px;
    display: block;
    margin: 0px auto;
    position: relative;
    bottom: 161px;
    left: 75px;
    z-index: 1;
    transition-duration: 0.5s;
    filter: opacity(0);
    border-radius: 31px;
    height: 45px;
    overflow: hidden;
    background: black;
    color: black;
}
.IntercityBus:hover{
	cursor: pointer;
	box-shadow: 0px 0px 5px 0px #2ec643;
}
.IntercityBus:hover .IntercityBus_border{
	right : 0px;
}
.IntercityBus_img{
	width : 50px;
	display : inline-block;
	position: relative;
    bottom: 5px;
}
.IntercityBus_video{
	width : 50px;
	display : none;
	position: relative;
    bottom: 5px;
}
.IntercityBus_tag{
	display : inline-block;
	position: relative;
    bottom: 25px;
    font-family: 'TheJamsil5Bold';
}
.IntercityBus_background{
	background: #ffffff;
    height: 41px;
    width: 191px;
    position: relative;
    top: 2px;
    border-radius: 20px;
    left: 2px;
    overflow: hidden;
}

/* 버스 태그 테두리 */
.AirportBus_border{
	height: 45px;
    position: absolute;
    width: 135px;
    background: #ff5cb9;
    right: 135px;
    transition-duration: 0.5s;
}

.IntercityBus_border{
	height: 45px;
    position: absolute;
    width: 200px;
    background: #2ec643;
    right: 200px;
    transition-duration: 0.5s;
}





.transportation_tag4{
	display : inline-block;
	margin: 30px 20px 0px;
	
}
.transportation_tag4:hover {
	  animation: jello-horizontal 0.9s both;
}


/* 태그 이미지 */
.tag_img{
	width : 50px;
	display : inline-block;
}
.tag_img2{
	width : 50px;
	display : inline-block;
}
.tag_img3{
	width : 50px;
	display : inline-block;
}
.tag_img4{
	width : 50px;
	display : inline-block;
}

.tag_video{
	width : 50px;
	display : none;
}
.tag_video2{
	width : 50px;
	display : none;
}
.tag_video3{
	width : 50px;
	display : none;
}
.tag_video4{
	width : 50px;
	display : none;
}

/* 태그이름 */
.tag_name{
	font-family: 'TheJamsil5Bold';
	font-size : 20px;
	display : inline-block;
	position: relative;
    bottom: 17px;
}

									/* ----------------------- 숨겨진 헤더 ----------------------- */

.header_hidden_div{
	position: fixed;
    background: #ffffff;
    width: 100%;
    height: 90px;
    z-index: 8;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid #a5a5a5;
    text-align: center;
	display : none;
}
.header_hidden_sDiv{
	display: flex;
    align-items: center;
    width: 1280px;
    box-sizing: border-box;
    margin: 0px auto;
    height: 70px;
    padding: 0px;
}
.header_hidden_tagDiv{
	position: absolute;
    padding-left: 444px;
    font-size: 20px;
    padding-bottom: 30px;
}
.hidden_tag{
	display: inline-block;
    margin-right: 31px;
    font-size: 25px;
    font-family: 'TheJamsil5Bold';
    padding-top: 12px;
    transition-duration: 0.5s;
}


.hidden_airTag{
	overflow: hidden;
	display: inline-block;
	position: relative;
	top: 38px;
	height: 80px;
}
#Header_AirTag{
	position: relative;
	transition-duration: 0.5s;
	top: 4px;
}
.hidden_SAirTag{
	position: absolute;
    bottom: 30px;
    font-size: 13px;
    left: -80px;
    transition-duration: 0.5s;
    font-family: 'TheJamsil5Bold';
    line-height: 16px;
    text-align: left;
}
.AirTag_title:hover{
	color: #66d6f4;
	cursor: pointer;
}
.AirTag_prevBtn{
	position: absolute;
    top: -18px;
    left: 66px;
    height: 65px;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 7px 0px 0px 7px;
}
.AirTag_prevBtn:hover{
	background : #d0d0d0;
}




.hidden_busTag{
	overflow: hidden;
	display: inline-block;
	position: relative;
	top: 38px;
	height: 80px;
}
#Header_BusTag{
	position: relative;
	transition-duration: 0.5s;
	top : 3px;
}
.hidden_tag:hover{
	color: #66d6f4;
	cursor: pointer;
}
.hidden_SbusTag{
	position: absolute;
    bottom: 30px;
    font-size: 11px;
    left: -80px;
    transition-duration: 0.5s;
    font-family: 'TheJamsil5Bold';
    line-height: 15px;
    text-align: left;
}
.busTag_title:hover{
	color: #66d6f4;
	transition-duration: 0.3s;
}
.BusTag_prevBtn{
    position: absolute;
    top: -19px;
    left: 66px;
    height: 65px;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 7px 0px 0px 7px;
}
.BusTag_prevBtn:hover{
	background : #d0d0d0;
}
.loginBox{
	padding-left: 1121px;
    font-family: 'TheJamsil5Bold';
    color: #595959;
    padding-top: 25px;
}
.hidden_title_img{
	width: 30px;
    position: relative;
    top: -3px;
}
.login_join_text{
	color: #595959;	
	text-decoration: none;
}
.login_join_text:hover{
	cursor: pointer;
	color:black;
}